#div1{
	border:2px solid #a1a1a1;
	padding:40px 40px; 
	background:#7b8499;
	width:300px;
	border-radius:25px;
	margin-top: 150px;
	margin-left: 450px;
	
}
#tb1{
	width:300px;
	
}
body{
	background-color: #c9c9c9;
}
td{
	line-height: 40px;
}